
<table class="print" width="100%"  frame="box"  border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left: 200px;" > 

<td height="40"><font color="#blute "><b>学生基本信息:</b></font>
</td>

<tr class="even">
  <td  height="40" >
    <b> 姓名 :</b>
    <%= @student.name%>&nbsp;&nbsp;&nbsp;&nbsp;
  </td>
</tr>

<tr class="even">
  <td  height="40" >
    <b> 英文名称 :</b> 
    <%= @student.name_en %>
  </td>
</tr>

<tr class="even">
  <td  height="40" >
    <b> 证件类型 :</b>
    <%= "身份证" %>&nbsp;&nbsp;&nbsp;&nbsp;
  </td>
</tr>

<tr class="even">
  <td  height="40" >
    <b> 证件号码 :</b> 
    <%= @student.id_card %>
  </td>
</tr>

<tr class="even">
  <td  height="40" >
    <b> 邮箱 :</b>
    <%= @student.email %>&nbsp;&nbsp;&nbsp;&nbsp;
  </td>
</tr>

<tr class="even">
  <td  height="40" >
    <b>电话 :</b> 
    <%= @student.mobile %>
  </td>
</tr>

</table>

