<tr id="<%= ajax_bar_element_id(apply_set) %>">
  <td class="center aligned">
    <span><%= apply_set.student_class_id%></span>
  </td>
  <td class="center aligned">
    <%=  apply_set.apply_at.strftime('%Y-%m-%d')%>
  </td>
  <td class="center aligned">
    <%=  apply_set.end_apply_at.strftime('%Y-%m-%d')%>
  </td>
  <td class="center aligned">
    <%= apply_set.place_where %>
  </td>
  <td class="center aligned">
    <%= apply_set.comment %>
  </td>
  <td class="center aligned">
    <%= apply_set.limit_menber %>
  </td>
  <td class="center aligned">
    <%= apply_set.status %>
  </td>
  <td class="center aligned">
    <%= apply_set.show_at&.strftime('%Y-%m-%d') %>
  </td>
  <td class="center aligned">
    <%= link_to edit_admin_apply_set_path(apply_set), remote: true, data: {content: '修改', variation: 'inverted'}, class: 'ui blue icon button' do %>
      <i class="edit icon"></i>
    <% end %>
  </td>
</tr>