<%= stylesheet_link_tag 'home', media: 'all'%>
<h2 class="ui dividing header">修改学生</h2>
<%= simple_form_for [@written_apply], url: admin_written_apply_path, method: :put, remote: true do |f| %>
    <div class="alert-error" id="form_message" style="display:none">
   
  </div>
    <div class="one field">
      <%= label_tag 'name', '姓名:'%>
      <%= text_field_tag 'name', @current_student.name%>
    </div>

     <div class="one field">
      <%= label_tag 'mobile', '电话:'%>
      <%= text_field_tag 'mobile', @current_student.mobile%>
    </div>

     <div class="one field">
      <%= label_tag 'email', '邮箱:'%>
      <%= text_field_tag 'email', @current_student.email%>
    </div>
    <div class="one field">
      <%= f.input :cat_no%>
      <%= f.hidden_field :student_id,value: @current_student.id%>
    </div>
    <div class="one field">
      <%= label_tag 'time', '笔试辅导时间:'%>
      <%= f.select :apply_set_id, apply_set_options, {include_blank: "请选择一个辅导时间段"} %>
    </div>
<% end %>
<div class="actions">
  <div class="ui button" onclick="javascript: $('#edit_written_apply_modal').modal('hide')">取消</div>
  <div class="ui blue button" onclick="javascript: $('#edit_written_apply_<%= @written_apply.id %>').submit();" >确定</div>
</div>