<tr id="<%= ajax_bar_element_id(written_apply) %>">
  <td class="center aligned">
    <span><%= written_apply.student&.name%></span>
  </td>
  <td class="center aligned">
    <%=  written_apply.apply_set&.comment%>
  </td>
  <td class="center aligned">
    <%= written_apply.cat_no %>
  </td>
  <!-- <td class="center aligned">
    <%= written_apply.status %>
  </td> -->
  <td class="center aligned">
    <%= link_to edit_admin_written_apply_path(written_apply), remote: true, data: {content: '修改', variation: 'inverted'}, class: 'ui blue icon button' do %>
      <i class="edit icon"></i>
    <% end %>
  </td>
</tr>