
<div align="center">

 <style>
      .print td{border-top:1px black solid;border-right:1px black solid;border-bottom:1px black solid;border-left:1px black solid;}
      .print{border-top:0px black solid;border-right:0px black solid;border-bottom:0px black solid;border-left:0px black solid;}
      .print1 td{border-top:1px black solid;border-right:1px black solid; border-bottom:0px black solid;border-left:0px black solid;}
      .print1{margin-top:3px; margin-left:3px;margin-bottom:3px; margin-right:3px;border-top:0px black solid;border-right:0px black solid; border-bottom:1px black solid;border-left:1px black solid;}
      <%if params[:print] || params[:pdf] %>
          body{background-color: #dddddd;background-image:url("/images/shuiyin.png");
          background-repeat:no-repeat;background-size:80%; }
      <% end %>
      #date{ float:right;}
      .biaoti{font-family:"Times New Roman";font-size:18px}
      .title{font-family:"Times New Roman";font-size:15px}
      .time{font-family:"Times New Roman";font-size:14px}
   </style>

   <div style="width:100%" align="center"> 
      <div align="center" class="biaoti" >
          <h3>
             录取结果查询
          </h3>
      </div>  
   </div>
   <% if @written_score.present? %>

   <table class="print1" width="100%"  align="center" cellpadding="0" cellspacing="0" style ="font-size: 62.5%;" > 

      <tr>
        <td width="25%" height="30" align="center" class="title"><b>姓名</b></td>
        <td align="center" height="30" width="10%" class="title"><b>面试成绩</b></td>  
        <td align="center" height="30" width="10%" class="title"><b>笔试成绩</b></td>  
        <td align="center" height="30" width="10%" class="title"><b>综合排名</b></td> 
        <td align="center" height="30" width="10%" class="title"><b>录取结果</b></td> 
      </tr>

      <tr>
        <td align="left" width="260" style="padding-left:5px" ><%= @student.name %></td>      
        <td align="center" width="60"><%= @admission_record.interview_score.score %></td>
        <td align="center" width="60"><%= @admission_record.written_score.score %></td>
        <td align="center" width="60"><%= 1 %></td>
        <td align="center" width="60"><%= @admission_record.status %></td>
      </tr>

   </table>

   <%if @written_score.status == 1 %>
     <b>恭喜您顺利被2017年北京大学国家发展研究院EMBA项目录取。</b>
   <%elsif @written_score.status == 2 %>
     <b>很抱歉告知您，未能被2017年北京大学国家发展研究院EMBA项目录取。</b>
   <% end %>
   <% else %>
     <b>目前录取结果暂不能查询。</b>
   <% end %>
  </div>