<div class="ui vertical fluid menu" id="verticalMenu">
  <ul>

    <li>
    <a class="item">
      <i class="unordered list icon"></i>
      <span class="main_menu">系统管理</span>
      <i class="right dropdown icon"></i>
    </a>
    <div class="menu content child active">
      <%= link_to admin_users_path, class: 'item', active_class: 'actives' do %>
        <i class="left bullseye icon"></i>
        <span>用户管理</span>
      <% end %>
      <%= link_to admin_students_path, class: 'item', active_class: 'actives' do %>
        <i class="left bullseye icon"></i>
        <span>学生管理</span>
      <% end %>
      <%= link_to admin_interview_scores_path, class: 'item', active_class: 'actives' do %>
        <i class="left bullseye icon"></i>
        <span>面试管理</span>
      <% end %>
      <%= link_to admin_written_applies_path, class: 'item', active_class: 'actives' do %>
        <i class="left bullseye icon"></i>
        <span>预约管理</span>
      <% end %>
      <%= link_to admin_apply_sets_path, class: 'item', active_class: 'actives' do %>
        <i class="left bullseye icon"></i>
        <span>设置管理</span>
      <% end %>
      <%= link_to admin_written_scores_path, class: 'item', active_class: 'actives' do %>
        <i class="left bullseye icon"></i>
        <span>笔试管理</span>
      <% end %>
      <%= link_to admin_admission_records_path, class: 'item', active_class: 'actives' do %>
        <i class="left bullseye icon"></i>
        <span>录取管理</span>
      <% end %>
    </div>
    </li>

  </ul>
</div>
